@model CSharpDemo.Models.BillDetails

@{
    ViewData["Title"] = "sendRequest";
}

<h1>Send Request</h1>

<h4>trandata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="sendRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="issuerAgencyId" class="control-label"></label>
                <input asp-for="issuerAgencyId" class="form-control" />
                <span asp-validation-for="issuerAgencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="billingAccountId" class="control-label"></label>
                <input asp-for="billingAccountId" class="form-control" />
                <span asp-validation-for="billingAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="billingCycle" class="control-label"></label>
                <input asp-for="billingCycle" class="form-control" />
                <span asp-validation-for="billingCycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dueAmount" class="control-label"></label>
                <input asp-for="dueAmount" class="form-control" />
                <span asp-validation-for="dueAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paidAmount" class="control-label"></label>
                <input asp-for="paidAmount" class="form-control" />
                <span asp-validation-for="paidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="billReferenceInfo" class="control-label"></label>
                <input asp-for="billReferenceInfo" class="form-control" />
                <span asp-validation-for="billReferenceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="agencyCode" class="control-label"></label>
                <input asp-for="agencyCode" class="form-control" />
                <span asp-validation-for="agencyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SendRequest" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
